<div class="container">
    <h1>View Inventory</h1>
  
    <a href="#" routerLink="/inventory/index" class="btn btn-primary">Back</a>
   
    <div>
        
        <p><strong>ID:</strong>{{ inventory.id }}</p>
    </div>
   
    <div>
        
        <p><strong>Name:</strong>{{ inventory.name }}</p>
    </div>
   
    <div>
        
        <p><strong>Description:</strong>{{ inventory.description }}</p>
    </div>

    <div>
        
        <p><strong>Price:</strong>{{ inventory.price }}</p>
    </div>
   
</div>